/* Importação das regras base, componentes e utilitários do Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuração base da página inteira */
body {
  background-color: #0B0F19; /* Nossa cor personalizada dark-bg */
  color: #e5e7eb; /* Cor de texto cinza claro para contraste */
}

/* 
  Scrollbar customizada 
  Deixa a barra de rolagem mais fina e elegante (estilo Mac/Mobile)
*/
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
